page-home {
    background-color: #941919;
}

h3{
    font-size: 30px;
    text-align: center;
}

.pop{
    text-decoration-color: red;
}

.label-md-primary, .item-input .label-md-primary, .item-select .label-md-primary, .item-datetime .label-md-primary {
    color: #0e9d2d;
}


.label-ios-primary, .item-input .label-ios-primary, .item-select .label-ios-primary, .item-datetime .label-ios-primary {
    color: #0e9d2d;
}

.button-md-light {
    color: #000;
}

.topC{
    text-align: center;
}

div .las{
    margin: 0 auto;
    width: fit-content;
}

div .ali{
    text-align: center;
}

.card-md-secondary {
    color: #fff;
    background-color: #3237db;
}
.card-ios-secondary{
    background: red;
}